{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/about-me.css' %}">

<html>
<header>
    <ul id="nav">
        <li><img src="{% static 'homepage/images/fields.png' %}" alt="Icon of Field" width="50" height="50"></li>
        <li><a href="/"><strong>Home</strong></a></li>
        <li><a href="/login/"><strong>Login</strong></a></li>
        <li><a href="/create-account/"><strong>Create Account</strong></a></li>
        <li><a href="/about-me/"><strong>About Me</strong></a></li>
        <li><a href="/contact-me/"><strong>Contact Me</strong></a></li>
    </ul>
</header>
<body>
    <div id="aboutMe">
        <h1>About Me</h1>
        <p>
            My name is Yasser Jeafar and I'm a Senior at the University of Michigan- Dearborn.
            My major is Software Engineering and this website was created for my independent study
            course. I was very interested in building a website using a framework I have never used
            before, so I went with Django and I'm very glad I did. This website was loosely based off
            of a database I created for my database course, where I created a very basic UI for it as well.
            The theme came from my dream to one day own a humble little farm and hopefully be able to retire
            on it. If you have any questions, please don't hesitate to reach out to me through the
            <a href="/contact-me">Contact Me</a> page. Thank you for taking the time to look through the website, I
            really
            appreciate it!
        </p>
    </div>
</body>
<footer>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>

</html>