{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/home.css' %}">

<html>
    <header>
        <ul id="nav">
            <li><img src="{% static 'homepage/images/fields.png' %}" alt="Icon of Field" width ="50" height ="50"></li>
            <li><a href="../home/"><strong>Home</strong></a></li>
            <li><a href="../login/"><strong>Login</strong></a></li>
            <li><a href="../create-account/"><strong>Create Account</strong></a></li>
            <li><a href="../aboutus/"><strong>About Us</strong></a></li>
            <li><a href="../contactus/"><strong>Contact Us</strong></a></li>
        </ul>
        <span class="homeHeader">
                <h1>Welcome to the Farm Manager </h1>
                <h3>The go to place to manage all your farming needs!</h3>
            </span>
    </header>

<body>  </body>

<footer>
        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>
</html>