  .farmNameform, .farmCityForm,  .farmAddressForm {
    float: right;
    width: 225px;
  }

  .farmInfo .form-control {
    width: 225px;
    float: right;
  }

  .col-sm-4 {
    margin-left: auto;
    margin-right: auto;
  }

  #farmInfoTitle {
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #farmSubmit {
      margin-top: 4%;
      float: right;
  }

  .farmInfo .row {
      padding-top: 5%;
  }

  .farmInfo b {
      width: 120px;
      height: 20px;
  }