#viewAllAnimals .sm-col-3 {
  margin-left: auto;
  margin-right: auto;
}

#viewAllAnimals .sm-col-5 {
  margin-right: auto;
}

#welcomeHeader {
  text-align: center;
}

#errorMessage {
  text-align: center;
  font-size: 24px;
}

.row img {
  width: 400px;
  height: 300px;
}

#edit {
  padding: 5% 2% 0 0;
  font-size: 30px;
}

#delete {
  font-size: 30px;
}

.messages {
  text-align: center;
}
