#contactMe {
    margin: auto;
    width: 35%;
    font-size: 20px;
    color: black;
    font: bold;
}

#contactMe button {
    float: right;
    margin-top: 1%;
}

ul.errorlist {
    color: white;
}

.formMessage {
    width: 100%;
}

.formSubject {
    width: 100%;
}

.formUserName {
   width: 100%;
}