{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{% static 'logged-in/css/about.css' %}" />
<script src="{% static 'logged-in/js/about.js'  %}"></script>
<script src="{% static 'homepage/jquery/jquery-3.4.1.js'  %}"></script>

<html>
<header>
    <ul id="nav">
        <li><img src="{% static 'homepage/images/fields.png' %}" alt="Icon of Field" width="50" height="50"></li>
        <li><a href="/logged-in"><strong>View All Animals</strong></a></li>
        <li><a href="/logged-in/add-animal"><strong>Add Animal</strong></a></li>
        <li><a href="/logged-in/farm-information"><strong>Add Farm</strong></a></li>
        <li><a href="/logged-in/help"><strong>Help Page</strong></a></li>
        <li><a href="/"><strong>Logout</strong></a></li>
</header>
<body>
        {% block content %} 
        {% endblock %}
</body>
<footer>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>


</html>
