{% extends "logged-in/about.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'logged-in/css/farm-information.css' %}" />
<div class='farmInfo'>
    {% if formSuccess %}
    <div class="alert alert-success">
        <strong>Success!</strong> Farm Location Saved Successfully.
    </div>
    {% endif %}
  <h1 id="farmInfoTitle">
    Farm Information
  </h1>
  <form action="farm-information" method="POST">
    <div class="col-sm-4">
      {% csrf_token %}
      {% for field in addfarmform %}
      <div class="row">
        <b>{{field.label_tag}} </b>
        <div class="col-sm-9">
          {{ field }}
        </div>
      </div>
      {% endfor %}
      <div class="form-actions">
        <button id="farmSubmit" type="submit" class="btn btn-primary">Add Farm</button>
      </div>
    </div>
  </form>
  {% endblock %}

  </html>